.page {
  max-width: 1160px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.header {
  position: relative;
}

.header__title {
  display: inline-block;
  font-size: 32px;
}

.sort {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 5px;
}

.sort__item {
  display: inline-block;
}

.sort__title {
  color: #444444;
}

.sort__links {
  color: #5772ac;
  text-decoration: none;
}

.filter {
  border: 1px #ebebeb solid;
  border-bottom: none;
  margin-top: 20px;
  width: 210px;
}

.filter__item {
  border-bottom: 1px #ebebeb solid;
}

.filter__toggle {
  position: relative;
  cursor: pointer;
  padding: 16px 15px 16px 10px;
}

.filter__title {
  color: #5772ac;
  display: inline-block;
}

.filter__arrow {
  height: 16px;
  width: 16px;
  border: 1px #ebebeb solid;
  border-radius: 100%;
  display: inline-block;
  float: right;
}
