!!!
%html
  %head
    %meta{charset:"utf-8"}
    %title
      Ноутбуки
    %script{src:'/js/jquery-2.1.4.js'}
    %script{src:'/jquery-ui-1.11.4.custom/jquery-ui.min.js'}
    %link{rel:'stylesheet',href:'/jquery-ui-1.11.4.custom/jquery-ui.min.css'}
    %link{rel:'stylesheet',href:'/style/style.css'}
  %body.page
    .header
      .header__title
        Ноутбуки
      .sort
        .sort__item.sort__title          
          Сортировка по:
        .sort__item
          %a.sort__links{href: '#'}цене
          %img
        .sort__item
          %a.sort__links{href: '#'}рейтингу
          %img
        .sort__item
          %a.sort__links{href: '#'}новинкам
          %img
        .sort__item.sort__in-stock
          В наличии
        .sort__item.sort__grid
        .sort__item.sort__row
    %form.filter
      .filter__item.filter__manufacturer
        .filter__toggle
          .filter__title
            Производитель
          .filter__arrow
        .filter__body.filter__body_show
          .checkbox
            %input#1{type: "checkbox"}
            %label{for:"1"} Acer
          .checkbox
            %input#2{type: "checkbox"}
            %label{for:"2"} Asus
          .checkbox
            %input#3{type: "checkbox"}
            %label{for:"3"} Hp
      .filter__item.filter__price
        .filter__toggle
          .filter__title
            Цена, руб.
          .filter__arrow
        .filter__body
          .slider
            .slider__price
            .slider-input
              %input.slider-input__min.price-min{:type => "text"}
              %span.slider-input__divider &#8212
              %input.slider-input__max.price-max{:type => "text"}
      .filter__item.filter__display-size
        .filter__toggle
          .filter__title
            Дагональ экрана,
            %br дюймы
          .filter__arrow
        .filter__body
          .slider
            .slider__display-size
            .slider-input
              %input.slider-input__min.display-size-min{:type => "text"}
              %span.slider-input__divider &#8212
              %input.slider-input__min.display-size-max{:type => "text"}
      .filter__item.filter__ssd
        .filter__toggle
          .filter__title
            Наличие SSD
          .filter__arrow
        .filter__body
          .radio
            %input#ssd_yes{type: "radio",name:'ssd',checked:'checked'}
            %label{for: "ssd_yes"} Есть
            %input#ssd_no{type: "radio",name:'ssd'}
            %label{for: "ssd_no"} Нет
      .filter__item.filter__ram
        .filter__toggle
          .filter__title
            Размер оперативной
            %br памяти
          .filter__arrow
        .filter__body
          .slider
            .slider__ram
            .slider-input
              %input.slider-input__min.ram-min{:type => "text"}
              %span.slider-input__divider &#8212
              %input.slider-input__min.ram-max{:type => "text"}
    .product
      .product__row
        .product-item
          %img{src:'/img/laptop.png'}
          .product-item__new
            %img.new-icon{src:'/img/laptop-new-icon.png'}
            Новинка
          .product-item__hit
            %img.hit-icon{src:'/img/laptop-hit-icon.png'}
            Хит
          .product-item__title
            Ноутбук Acer Aspire E1-532-29572G50Mnkk
          .product-item__row
            .product-item__rate
              -(1..5).each do
                .star-rate
            .product-item__total-review
              Всего 31 отзыв
          .product-item__row
            .product-item-price
              .product-item-price__old
                57 530 р.
              .product-item-price__new
                16 800 р.
            .product-item__add-to-cart
              %form
                %button.add-to-cart
                  В корзину
          .product-item__row
            .product-item__in-sctok
              В наличии
            .product-item-compare
              %img.product-item-compare__icon
              %a.product-item-compare__text{href: '#'}Сравнить
        -(1..3).each do
          .product-item
            %img{src:'/img/laptop.png'}
            .product-item__title
              Ноутбук Acer Aspire E1-532-29572G50Mnkk
            .product-item__row
              .product-item__rate
                -(1..5).each do
                  .star-rate
              .product-item__total-review
                Всего 31 отзыв
            .product-item__row
              .product-item-price
                .product-item-price__old
                  57 530 р.
                .product-item-price__new
                  16 800 р.
              .product-item__add-to-cart
                %form
                  %button.add-to-cart
                    В корзину
            .product-item__row
              .product-item__in-sctok
                В наличии
              .product-item-compare
                %img.product-item-compare__icon
                %a.product-item-compare__text{href: '#'}Сравнить
      .product__row-bot
        -(1..4).each do
          .product-item
            %img{src:'/img/laptop.png'}
            .product-item__title
              Ноутбук Acer Aspire E1-532-29572G50Mnkk
            .product-item__row
              .product-item__rate
                -(1..5).each do
                  .star-rate
              .product-item__total-review
                Всего 31 отзыв
            .product-item__row
              .product-item-price
                .product-item-price__old
                  57 530 р.
                .product-item-price__new
                  16 800 р.
              .product-item__add-to-cart
                %form
                  %button.add-to-cart
                    В корзину
            .product-item__row
              .product-item__in-sctok
                В наличии
              .product-item-compare
                %img.product-item-compare__icon
                %a.product-item-compare__text{href: '#'}Сравнить  
    %script{src:'/js/filter.js'}