!!!
%html
  %head
    %title
      Ноутбуки
    %link{rel:'stylesheet',href:'/style/style.css'}
    %script{src:'/js/jquery-2.1.4.js'}
    %link{rel:'stylesheet',href:'/style/jquery-ui.min.css'}
    %script{src:'/js/jquery-ui.min.js'}
  %body.page
    .header
      .header__title
        Ноутбуки
      .sort
        .sort__item.sort__title          
          Сортировка по:
        .sort__item
          %a.sort__links{href: '#'}цене
          %img
        .sort__item
          %a.sort__links{href: '#'}рейтингу
          %img
        .sort__item
          %a.sort__links{href: '#'}новинкам
          %img
        .sort__item.sort__in-stock
          В наличии
        .sort__item.sort__grid
        .sort__item.sort__table
    .filter
      .filter__item.filter__manufacturer
        .filter__toggle
          .filter__title
            Производитель
          .filter__arrow
        .filter__body.filter__body_show
          %form{:action => "#"}
            %input#test1{:type => "checkbox"}/
            %label{:for => "test1"} Red
      .filter__item.filter__price
        .filter__toggle
          .filter__title
            Цена, руб.
          .filter__arrow
        .filter__body
      .filter__item.filter__display-size
        .filter__toggle
          .filter__title
            Дагональ экрана,
            %br дюймы
          .filter__arrow
        .filter__body
      .filter__item.filter__ssd
        .filter__toggle
          .filter__title
            Наличие SSD
          .filter__arrow
        .filter__body
      .filter__item.filter__ram
        .filter__toggle
          .filter__title
            Размер оперативной
            %br памяти
          .filter__arrow
        .filter__body


    %script
      $( "#date" ).datepicker();