$grey: rgb(215, 215, 215);
$dark-grey: rgb(148, 148, 148);
$very-dark-grey: rgb(148,148,148);
$blue: rgb(87, 114, 172);
$dark-red: rgb(203, 72, 55);
$orange: rgb(251, 140, 0);
$dark-green: rgb(100, 161, 67);
$green: rgb(53, 158, 0);
$light-green:rgb(193, 199, 16);

.page{
  max-width: 1160px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin: 90px auto;
  cursor: default;
}
.header{
  position: relative;
  border-bottom: 1px $grey solid;
  margin-bottom: 20px;
}
.header__title{
  display: inline-block;
  font-size: 32px;
}
.sort{
  display: inline-block;
  position: absolute;
  right: 0;
  bottom:5px;
}
.sort__item{
  display: inline-block;
  margin-right: 13px;
}
.sort__item-active a{
  padding-right: 12px;
  background: url(../img/laptop-sort-grey.png) no-repeat;
  background-position: 100% 50%;
}
.sort__title {
  color: rgb(68, 68, 68);
}
.sort__links{
  color: rgb(87, 114, 172);
  text-decoration: none;
}
.sort__grid,.sort__row{
  cursor: pointer;
}


//filter
.filter {
  display: inline-block;
  border: 1px $grey solid;
  border-bottom: none;
  width: 210px;
}

.filter__item{
  border-bottom: 1px $grey solid;
}
.filter__toggle{
  position: relative;
  cursor: pointer;
  padding: 16px 15px 16px 10px;
}
.filter__title{
  color: $blue;
  display: inline-block;
}
.filter__arrow{
  height: 16px;
  width: 16px;
  border: 1px $grey solid;
  border-radius: 100%;
  display: inline-block; 
  float: right;
  background: url(../img/laptop-filter-toggle-arrow.png) no-repeat;
  background-position: 50%;
  transform: rotate(-180deg);
  transition: .4s;
}
.filter__arrow-open{
  transform: rotate(-360deg);
}
.filter__body{
  display: none;
}
.filter__body_show{
  display: block;
}
//chekboxes
.checkbox{
  margin:10px 15px;
}

input[type="checkbox"]{
    display:none;            
}
input[type="checkbox"] + label{
  cursor: pointer;
  position: relative;
  padding-left: 20px;
}
input[type="checkbox"] + label:before{
  content: '';
  border: 1px $grey solid;
  border-radius: 1.5px;
  width: 13px;
  height: 13px;
  position: absolute;
  top: 0;
  left:0;
}
input[type="checkbox"] + label:hover:before{
  background-color: $grey;
}
input[type="checkbox"] + label:after{
  content: '✔';
  position: absolute;
  top: -4px; left: 1px;
  font-size: 16px;
  color: $dark-red;
  transition: all .2s;
  opacity: 0;
  transform: scale(0);
}
input[type="checkbox"]:checked + label:after{
  opacity: 1;
  transform: scale(1);
}
//radio
.radio{
  margin:10px 15px;
}
input[type="radio"]{
    display:none;
}
input[type="radio"] + label{
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
}
input[type="radio"] + label:before{
  content: '';
  border: 1px $grey solid;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left:0;
  box-shadow: inset 0 2px 5px $grey
}
input[type="radio"] + label:after{
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 100%;
  position: absolute;
  background-color: $orange;
  top: 5px;
  left:5px;
  transition: all .2s;
  opacity: 0;
  transform: scale(0);
}
input[type="radio"]:checked + label:after{
  opacity: 1;
  transform: scale(1);
}
//slider
.slider{
  margin: 10px 15px 15px
}
.slider-input{
  margin-top: 10px;
  text-align: center;
}
.slider-input__divider{
  margin: 0 5px;
}
.slider-input__min,.slider-input__max{
  width: 70px;
  height: 33px;
  text-align: center;
  border-radius: 5px;
  border: 1px $grey solid;
}
//change jquery slider classes
.ui-slider-horizontal .ui-slider-handle{
  border-radius: 100%;
  border: 2px $orange solid;
  width: 6px;
  height: 6px;
  top:-0.2em;
}
.ui-slider-horizontal{
  height: 4px;
}

.ui-widget-content{
  background-color: $grey;
  box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.09);
  border: none;
}
.ui-widget-header{
  background-image: url(../img/laptop-slider-background.png);
}


//product
.product{
  display: inline-block;
  vertical-align: top;
  float: right;
}
.product__row{
  padding-bottom: 40px;
  border-bottom: 1px $grey solid;
}
.product__row-bot{
  margin-top: 40px;
}
.product-item{
  position: relative;
  width: 177px;
  display: inline-block;
  &:not(:nth-child(1)){
    margin-left: 60px;
  }

}
.new-icon,.hit-icon{
  margin-left: 4px;
  vertical-align:middle;
  top: -1px;
  position: relative;
}
.product-item__new{
  background: $green;
  color:white;
  border-radius: 2px;
  width: 77px;
  position: absolute;
  top:24px;
}
.product-item__hit{
  background: $light-green;
  color:white;
  border-radius: 2px;
  width: 48px;
  position: absolute;
  top:44px;
}

.product-item__title{
  color: $blue;
  font-size: 15px;
}
.product-item__row{
  margin: 5px 0;
}
.product-item__rate{
  display: inline-block;
}
.star-rate{
  display: inline-block;
  width: 11px;
  height: 10px;
  background: url(../img/laptop-star-rate-grey.png);
  &:hover{
    background: url(../img/laptop-star-rate-gold.png);
  }
}

.product-item__total-review{
  color: $blue;
  display: inline-block;
  float: right;
  text-decoration: none;
}
.product-item-price{
  display: inline-block;
}
.product-item-price__old{
  color: $very-dark-grey;
  text-decoration: line-through;
}
.product-item-price__new{
  font-size: 18px;
}
.product-item__add-to-cart{
  display: inline-block;
  float: right;
}
.add-to-cart{
  width: 85px;
  height: 35px;
  background: #fff;
  border-radius: 5px;
  border: 1px $grey solid;
}

.product-item__in-sctok{
  color: $dark-green;
  display: inline-block;
  border-bottom: 1px $dark-green dotted;
}
.product-item-compare{
  display: inline-block;
  float: right;
}
.product-item-compare__text{
  color: $blue;
  border-bottom: 1px $blue dashed;
  text-decoration: none;

}

//pagination
.pagination{
  margin-top: 40px;
  border-right: none;
}
.pagination__item{
  box-sizing: border-box;
  vertical-align: middle;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-left: 1px $grey solid;
  border-top: 1px $grey solid;
  border-bottom: 1px $grey solid;
  text-align: center;
  padding-top: 12px;
  text-decoration: none;
  float: left;
  color: $blue;
  &:hover{
    background: $grey;
  }
}

.next-page{
  width: auto;
  border-right: 1px $grey solid;
  padding-left: 20px;
  padding-right: 15px;
}